@page "/Booking"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

<div style="display: flex; justify-content: center; background: #f7f7f7;">
    <div id="booking" style="width: 50%; align-items: center; display: flex; flex-direction: column; background: white; padding: 32px;">
        <h2 class="booking-section__title">Booking</h2>

        <div class="booking-section">
            <div class="booking-section__info-wrapper">
                <div class="booking-section__info-wrapper-two">
                    <div style="width: 100%;">
                        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                            <div style="display: flex; gap: 32px">
                                <div style="width: 100%;">
                                    <MudDatePicker PickerVariant="PickerVariant.Inline" Date="@(DateTime.Today.AddDays(1))" />
                                </div>
                                <div style="width: 100%;">
                                    <MudTextField Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Number of guests"
                                                  Required="true"
                                                  RequiredError="Number of guests is required"
                                                  Validation="@(new Func<string, IEnumerable<string>>(NumberOfGuests))" />
                                </div>
                            </div>
                            <div style="display: flex; gap: 32px">
                                <div style="width: 100%;">
                                    <MudTextField Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="First name"
                                                  Required="true"
                                                  RequiredError="First name is required" />
                                </div>
                                <div style="width: 100%;">
                                    <MudTextField Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Last name"
                                                  Required="true"
                                                  RequiredError="Last name is required" />
                                </div>
                            </div>
                            <div style="display: flex; gap: 32px">
                                <div style="width: 100%;">
                                    <MudTextField Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Email"
                                                  Required="true"
                                                  RequiredError="Email is required!"
                                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                                </div>
                                <div style="width: 100%;">
                                    <MudTextField Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Phonenumber"
                                                  Required="true"
                                                  RequiredError="Phonenumber is required"
                                                  Validation="@(new PhoneAttribute() {ErrorMessage = "The phonenumber is invalid"})" />
                                </div>
                            </div>
                        </MudForm>
                    </div>
                </div>
            </div>
            <div class="booking-section__info-text-field-wrapper">
                <div style="width: 100%;">
                    <MudTextField T="string" Label="Message" Variant="Variant.Outlined" Lines="5" />
                </div>
            </div>
            <div class="booking-section__info-button-wrapper">
                <div class="booking-section__info-button-wrapper-two">
                    <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Success">
                        Reserve Booking
                    </MudButton>
                </div>
            </div>
        </div>
    </div>
</div>