@page "/Booking"
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations

@inject ISnackbar Snackbar

<div style="display: flex; justify-content: center; background: #f7f7f7;">
    <div id="booking" class="booking-section-wrapper">
        <h2 class="booking-section__title">Booking</h2>

        <div class="booking-section">
            <div class="booking-section__info-wrapper">
                <div class="booking-section__info-wrapper-two">
                    <div style="width: 100%;">
                        <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
                            <div class="booking-section__info-item-wrapper">
                                <div style="width: 100%;">
                                    <MudDatePicker
                                        MinDate="DateTime.Now.AddDays(-1)"
                                        Label="Date"
                                        Style="margin-bottom:8px;"
                                        DisableToolbar="true"
                                        Editable="true"
                                        PickerVariant="PickerVariant.Dialog"
                                        @bind-Date="_date"
                                        IsDateDisabledFunc="new Func<DateTime,bool>(IsDateDisabledFunc)" />
                                </div>
                                <div style="width: 100%;">
                                    <MudSelect @bind-Value="_numOfGuests"
                                               Placeholder="Number of Guests"
                                               Style="margin-bottom:8px;"
                                               FullWidth="true"
                                               T="string"
                                               Required="true"
                                               RequiredError="Number of guests is required"
                                               Validation="@(new Func<string, IEnumerable<string>>(NumberOfGuests))">
                                        @foreach (string item in numberOfGuestsList)
                                        {
                                            <MudSelectItem Value="@item">@item</MudSelectItem>
                                        }
                                    </MudSelect>
                                </div>
                            </div>
                            <div class="booking-section__info-item-wrapper">
                                <div style="width: 100%;">
                                    <MudTextField @bind-Value="@_firstName"
                                                  Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="First name"
                                                  Required="true"
                                                  RequiredError="First name is required" />
                                </div>
                                <div style="width: 100%;">
                                    <MudTextField @bind-Value="@_lastName"
                                                  Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Last name"
                                                  Required="true"
                                                  RequiredError="Last name is required" />
                                </div>
                            </div>
                            <div class="booking-section__info-item-wrapper">
                                <div style="width: 100%;">
                                    <MudTextField @bind-Value="@_email"
                                                  Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Email"
                                                  Required="true"
                                                  RequiredError="Email is required!"
                                                  Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})" />
                                </div>
                                <div style="width: 100%;">
                                    <MudTextField @bind-Value="@_phonenumber"
                                                  Style="margin-bottom:8px;"
                                                  FullWidth="true"
                                                  T="string"
                                                  Label="Phone number"
                                                  Required="true"
                                                  RequiredError="Phone number is required"
                                                  Validation="@(new PhoneAttribute() {ErrorMessage = "The phonenumber is invalid"})" />
                                </div>
                            </div>
                        </MudForm>
                    </div>
                </div>
            </div>
            <div class="booking-section__info-text-field-wrapper">
                <div style="width: 100%;">
                    <MudTextField @bind-Value="@_message" T="string" Label="Message" Variant="Variant.Outlined" Lines="5" />
                </div>
            </div>
            <div class="booking-section__info-button-wrapper">
                <div class="booking-section__info-button-wrapper-two">
                    <MudButton Disabled="@(!success)" OnClick="@SendEmails" ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Success">
                        Reserve Booking
                    </MudButton>
                </div>
            </div>
        </div>
    </div>
</div>