@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Fjosid</PageTitle>

<div class="page">
    <div class="top-panel" style="background: rgba(0, 0, 0, 1); display: flex; justify-content: space-between;">
        <div style="display: flex; align-items: center;">
            <a href="/">
                <img src="images/fjosid_icon_row.png" alt="Icon" />
            </a>
            <nav class="top-nav-menu">
                <ul>
                    <li><a style="color: goldenrod;" href="/">Home</a></li>
                    <li><a style="color: goldenrod;" href="images/Menu.pdf" target="_blank">Menu</a></li>
                    <li><a style="color: goldenrod;" href="/Meetings">Meetings</a></li>
                    <li><a style="color: goldenrod;" href="/Rent_As_Venue">Rent As Venue</a></li>
                    <li><a style="color: goldenrod;" href="/Booking">Booking</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="top-bar-links-wrapper">
            <a class="social-media-link" target="_blank" style="color: goldenrod;" href="https://www.facebook.com/profile.php?id=61551701065518"><i class="fa fa-facebook" style="font-size:24px"></i></a>
            <a class="social-media-link" target="_blank" style="color: goldenrod;" href="https://www.instagram.com/fjosid2023/"><i class="fa fa-instagram" style="font-size:24px"></i></a>

            <MudToggleGroup T="int" Dense="true" SelectionMode="SelectionMode.ToggleSelection" @bind-Value="LanguageId">
                <MudToggleItem T="int" Value="1" Text="FO" />
                <MudToggleItem T="int" Value="2" Text="EN" />
            </MudToggleGroup>

            <MudDrawer @bind-Open="@_open" hidden="@(_open == false)" Style="background-color: black;" Color="Color.Inherit" Anchor="@Anchor.End" Elevation="2"  Variant="@DrawerVariant.Temporary">
                <MudDrawerHeader>
                    <MudText Style="color: goldenrod;" Typo="Typo.h6">Fjósið</MudText>
                </MudDrawerHeader>
                <MudNavMenu>
                    <MudDivider />
                    <MudNavLink Class="side-menu-item__container" Href="/" Match="NavLinkMatch.All">Home</MudNavLink>
                    <MudDivider/>
                    <MudNavLink Class="side-menu-item__container" Href="images/Menu.pdf" Match="NavLinkMatch.All" Target="_blank">Menu</MudNavLink>
                    <MudDivider/>
                    <MudNavLink Class="side-menu-item__container" Href="/Booking" Match="NavLinkMatch.All">Booking</MudNavLink>
                    <MudDivider/>
                    <MudNavLink Class="side-menu-item__container" Href="/Meetings" Match="NavLinkMatch.All">Meetings</MudNavLink>
                    <MudDivider/>
                    <MudNavLink Class="side-menu-item__container" Href="/Gallery" Match="NavLinkMatch.All">Gallery</MudNavLink>
                    <MudDivider />
                </MudNavMenu>
            </MudDrawer>

            <MudIconButton Icon="@Icons.Material.Filled.Menu" Style="color: goldenrod;" Edge="Edge.Start" OnClick="@OpenDrawer" />
        </div>
    </div>

    <main>
        <article class="content">
            <CascadingValue Value="LanguageId">
                @Body
            </CascadingValue>
        </article>
    </main>

    <div class="bottom">
        <div>
            <a href="/">
                <img src="images/fjosid_icon_row.png" style="width: 170px;" alt="Icon" />
            </a>
        </div>
        <div class="bottom__info">
            <span style="color: goldenrod;">
                Fjósið
            </span>
            <span style="color: goldenrod;">
                1 TRAÐARVEGUR
            </span>
            <span style="color: goldenrod;">
                FO-386, BØUR
            </span>
            <span style="color: goldenrod;">
                FAROE ISLANDS
            </span>
            <span style="color: goldenrod;">
                +298 286032
            </span>
            <span style="color: goldenrod;">
                FJOSID2023@GMAIL.COM
            </span>
            <span style="color: goldenrod;">
                CVR: 664855
            </span>
        </div>
            
        <div class="bottom__links">
            <a style="color: goldenrod;" href="/">Fjósið</a>
            <a target="_blank" style="color: goldenrod;" href="https://www.Theview.fo">The View</a>
            <a target="_blank" style="color: goldenrod;" href="https://www.Bluegate.fo">Bluegate</a>
        </div>
        <div class="bottom__icons">
            <a target="_blank" style="color: goldenrod;" href="https://www.facebook.com/profile.php?id=61551701065518"><i class="fa fa-facebook" style="font-size:36px"></i></a>
            <a target="_blank" style="color: goldenrod;" href="https://www.instagram.com/fjosid2023/"><i class="fa fa-instagram" style="font-size:36px"></i></a>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public int LanguageId { get; set; } = 2;
    
    private bool _open;
    
    private void OpenDrawer()
    {
        _open = true;
    }
}